.container{

    color: rgb(2, 36, 36);
    background-color: rgb(2, 192, 128);
    font-size: larger;
}

.header{

    color: rgb(191, 111, 12);
    background-color: rgb(71, 3, 3);
    font-size: large;
}